<div class="container">
  <h1>PseudoFlickr on Sinatra</h1>
  <p>Welcome, budding photographer!</p>

  <button id="log_in" class="btn btn-default">Log In</button>
  <button id="register" class="btn btn-default">Register</button>

  <form class="form-horizontal" id="log_in" action='/log_in' method="post">
    <input type="text" name="email" placeholder="Your Email">
    <input type="text" name="password" placeholder="Your Password">
    <input type="submit" value="Log In">
  </form>

  <form id="register" action='/register' method="post">
    <input type="text" name="name" placeholder="Your Name">
    <input type="text" name="email" placeholder="Your Email">
    <input type="text" name="password" placeholder="Your Password">
    <input type="submit" value="Register an account">
  </form>

  <div id="display_all_photos">
    <% @photos.each do |photo| %>
      <div id="display_photo">
        <dt><%= photo.image_name %></dt>
        <dd><%= photo.description %></dd>
        <dd>by <%= photo.album.user.name %></dd>
        <img src="<%= photo.image_url(:thumb) %>">
      </div>
    <% end %>
  </div>

</div>


